body{
    background-color: rgba(0, 255, 255, 0.197);
    font-family: 'Poppins', sans-serif;
}
#navbarNav{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.navbar-brand span{
    color: rgb(0, 157, 157);
}

